<div class="row">
  <div class="col-12"><p>10 Agosto 2022</p></div>
</div>

<div class="row">
  <div class="card">
    <div class="card-title"></div>
    <div class="card-body">
      <h3>Genoxal comprimidos 50 mg</h3>
      <span> Un comprimido durante dias alternos durante 4 semanas </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">
      <h3>Hedylon comprimidos 25 mg</h3>
      <span> Un comprimido durante dias alternos durante 4 semanas </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">
      <h3>Doxycare comprimidos 200 mg</h3>
      <span>Un comprimido mañana y noche durante 21 días</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">
      <h3>Omeprazol capsulas 20 mg</h3>
      <span>Un cápsula al día mientras dure el tratamiento quimioterapico</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">
      <h3>Cerenia comprimidos 160 mg</h3>
      <span>2 comprimidos por la mañana los dias 11 y 12.</span>
    </div>
  </div>
</div>
