.mkt-chip {
  border: 1px solid #151e36 !important;
  background: #151e36 !important;
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #337ab7;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  float: left;
  margin-bottom: 5px;
}

.mkt-chip a {
  cursor: pointer;
}
