<div class="row pt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div><h1>Informes Robertin</h1></div>

          <div class="d-flex row">
            <div class="col-2 text-start">
              <mkt-dropdown
                name="Fechas de informes"
                icon="calendar"
                (onClick)="onSelectOption($event)"
                [options]="fechas"
              ></mkt-dropdown>
            </div>

            <div class="col-10 text-end">
              <h3>Fecha: {{ currentDate }}</h3>
            </div>
          </div>
        </div>

        <div class="row card" *ngIf="currentReport | async as currentData">
          <ng-container *ngIf="currentData.data">
            <div class="card-body d-flex">
              <div class="col">Prueba</div>
              <div class="col">Resultados</div>
              <div class="col">Rango referencia</div>
              <div class="col">Nivel</div>
              <div class="col">Tendencia</div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Leucocitos</div>
              <div class="col">
                {{ currentData.data?.leucocitos?.value }}
                {{ currentData.data?.leucocitos?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.leucocitos.min }} -
                {{ valorReferencial.leucocitos.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.leucocitos?.value,
                  min: valorReferencial.leucocitos.min,
                  max: valorReferencial.leucocitos.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.leucocitos?.value,
                  prevValue: currentData.prevData?.leucocitos?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%NEU</div>
              <div class="col">
                {{ currentData.data?.neu_pct?.value }}
                {{ currentData.data?.neu_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%LYM</div>
              <div class="col">
                {{ currentData.data?.lym_pct?.value }}
                {{ currentData.data?.lym_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%MONO</div>
              <div class="col">
                {{ currentData.data?.mon_pct?.value }}
                {{ currentData.data?.mon_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%EOS</div>
              <div class="col">
                {{ currentData.data?.eos_pct?.value }}
                {{ currentData.data?.eos_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%BASO</div>
              <div class="col">
                {{ currentData.data?.baso_pct?.value }}
                {{ currentData.data?.baso_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Neu</div>
              <div class="col">
                {{ currentData.data?.neu?.value }}
                {{ currentData.data?.neu?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.neu.min }} -
                {{ valorReferencial.neu.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.neu?.value,
                  min: valorReferencial.neu.min,
                  max: valorReferencial.neu.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.neu?.value,
                  prevValue: currentData.prevData?.neu?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Lym</div>
              <div class="col">
                {{ currentData.data?.lym?.value }}
                {{ currentData.data?.lym?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.lym.min }} -
                {{ valorReferencial.lym.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.lym?.value,
                  min: valorReferencial.lym.min,
                  max: valorReferencial.lym.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.lym?.value,
                  prevValue: currentData.prevData?.lym?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Mono</div>
              <div class="col">
                {{ currentData.data?.mono?.value }}
                {{ currentData.data?.mono?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.mono.min }} -
                {{ valorReferencial.mono.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.mono?.value,
                  min: valorReferencial.mono.min,
                  max: valorReferencial.mono.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.mono?.value,
                  prevValue: currentData.prevData?.mono?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Eos</div>
              <div class="col">
                {{ currentData.data?.eos?.value }}
                {{ currentData.data?.eos?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.eos.min }} -
                {{ valorReferencial.eos.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.eos?.value,
                  min: valorReferencial.eos.min,
                  max: valorReferencial.eos.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.eos?.value,
                  prevValue: currentData.prevData?.eos?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">BASO</div>
              <div class="col">
                {{ currentData.data?.baso?.value }}
                {{ currentData.data?.baso?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.baso.min }} -
                {{ valorReferencial.baso.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.baso?.value,
                  min: valorReferencial.baso.min,
                  max: valorReferencial.baso.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.baso?.value,
                  prevValue: currentData.prevData?.baso?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">PLQ</div>
              <div class="col">
                {{ currentData.data?.plq?.value }}
                {{ currentData.data?.plq?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.plq.min }} -
                {{ valorReferencial.plq.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.plq?.value,
                  min: valorReferencial.plq.min,
                  max: valorReferencial.plq.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.plq?.value,
                  prevValue: currentData.prevData?.plq?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">MPV</div>
              <div class="col">
                {{ currentData.data?.mpv?.value }}
                {{ currentData.data?.mpv?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.mpv.min }} -
                {{ valorReferencial.mpv.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.mpv?.value,
                  min: valorReferencial.mpv.min,
                  max: valorReferencial.mpv.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.mpv?.value,
                  prevValue: currentData.prevData?.mpv?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">PDW</div>
              <div class="col">
                {{ currentData.data?.pdw?.value }}
                {{ currentData.data?.pdw?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.pdw.min }} -
                {{ valorReferencial.pdw.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.pdw?.value,
                  min: valorReferencial.pdw.min,
                  max: valorReferencial.pdw.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.pdw?.value,
                  prevValue: currentData.prevData?.pdw?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">PCT</div>
              <div class="col">
                {{ currentData.data?.pct?.value }}
                {{ currentData.data?.pct?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.pct.min }} -
                {{ valorReferencial.pct.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.pct?.value,
                  min: valorReferencial.pct.min,
                  max: valorReferencial.pct.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.pct?.value,
                  prevValue: currentData.prevData?.pct?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">Eritrocitos</div>
              <div class="col">
                {{ currentData.data?.eritrocitos?.value }}
                {{ currentData.data?.eritrocitos?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.pct.min }} -
                {{ valorReferencial.pct.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.eritrocitos?.value,
                  min: valorReferencial.eritrocitos.min,
                  max: valorReferencial.eritrocitos.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.eritrocitos?.value,
                  prevValue: currentData.prevData?.eritrocitos?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">HCT</div>
              <div class="col">
                {{ currentData.data?.hct?.value }}
                {{ currentData.data?.hct?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.hct.min }} -
                {{ valorReferencial.hct.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.hct?.value,
                  min: valorReferencial.hct.min,
                  max: valorReferencial.hct.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.hct?.value,
                  prevValue: currentData.prevData?.hct?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">HGB</div>
              <div class="col">
                {{ currentData.data?.hgb?.value }}
                {{ currentData.data?.hgb?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.hgb.min }} -
                {{ valorReferencial.hgb.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.hgb?.value,
                  min: valorReferencial.hgb.min,
                  max: valorReferencial.hgb.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.hgb?.value,
                  prevValue: currentData.prevData?.hgb?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">MCV</div>
              <div class="col">
                {{ currentData.data?.mcv?.value }}
                {{ currentData.data?.mcv?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.mcv.min }} -
                {{ valorReferencial.mcv.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.mcv?.value,
                  min: valorReferencial.mcv.min,
                  max: valorReferencial.mcv.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.mcv?.value,
                  prevValue: currentData.prevData?.mcv?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">MCH</div>
              <div class="col">
                {{ currentData.data?.mch?.value }}
                {{ currentData.data?.mch?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.mch.min }} -
                {{ valorReferencial.mch.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.mch?.value,
                  min: valorReferencial.mch.min,
                  max: valorReferencial.mch.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.mch?.value,
                  prevValue: currentData.prevData?.mch?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">MCHC</div>
              <div class="col">
                {{ currentData.data?.mchc?.value }}
                {{ currentData.data?.mchc?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.mchc.min }} -
                {{ valorReferencial.mchc.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.mchc?.value,
                  min: valorReferencial.mchc.min,
                  max: valorReferencial.mchc.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.mchc?.value,
                  prevValue: currentData.prevData?.mchc?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">RDW</div>
              <div class="col">
                {{ currentData.data?.rdw?.value }}
                {{ currentData.data?.rdw?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.rdw.min }} -
                {{ valorReferencial.rdw.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.rdw?.value,
                  min: valorReferencial.rdw.min,
                  max: valorReferencial.rdw.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.rdw?.value,
                  prevValue: currentData.prevData?.rdw?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">%RETIC</div>
              <div class="col">
                {{ currentData.data?.retic_pct?.value }}
                {{ currentData.data?.retic_pct?.unit }}
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">RETIC</div>
              <div class="col">
                {{ currentData.data?.retic?.value }}
                {{ currentData.data?.retic?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.retic.min }} -
                {{ valorReferencial.retic.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.retic?.value,
                  min: valorReferencial.retic.min,
                  max: valorReferencial.retic.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.retic?.value,
                  prevValue: currentData.prevData?.retic?.value
                }"
              ></div>
            </div>
            <div class="card-body d-flex border-bottom border-dark">
              <div class="col">RET HE</div>
              <div class="col">
                {{ currentData.data?.ret_he?.value }}
                {{ currentData.data?.ret_he?.unit }}
              </div>
              <div class="col">
                {{ valorReferencial.ret_he.min }} -
                {{ valorReferencial.ret_he.max }}
              </div>
              <div
                class="col"
                [nivel]="{
                  value: currentData.data?.ret_he?.value,
                  min: valorReferencial.ret_he.min,
                  max: valorReferencial.ret_he.max
                }"
              ></div>
              <div
                class="col"
                [trend]="{
                  currentValue: currentData.data?.ret_he?.value,
                  prevValue: currentData.prevData?.ret_he?.value
                }"
              ></div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
